<section class="container-fluid">
    <div class="row">
        <div class="col-12 mx-0 px-0">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  </form>
                </div>
              </nav>

              <nav class="navbar bg-body-tertiary">
                <form class="container-fluid">
                  <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">&#64;</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                </form>
              </nav>
        </div>
    </div>
</section>