/* You can add global styles to this file, and also import other style files */
/* @import url("../node_modules/bootstrap-icons/font/bootstrap-icons.min.css"); */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #000000;
  --elem-bg-color: #242424;
  --text-primary-color: #fff;
  --text-secondary-color: #c2c2c2;
  --primary-action-color: #ff7808;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-primary-color);
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
